<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AD</string>
      <key>code</key>
      <integer>376</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>AE</string>
      <key>code</key>
      <integer>971</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AF</string>
      <key>code</key>
      <integer>93</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AG</string>
      <key>code</key>
      <string>1-268</string>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AI</string>
      <key>code</key>
      <string>1-264</string>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AL</string>
      <key>code</key>
      <integer>355</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AM</string>
      <key>code</key>
      <integer>374</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AO</string>
      <key>code</key>
      <integer>244</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AQ</string>
      <key>code</key>
      <integer>672</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AR</string>
      <key>code</key>
      <integer>54</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AS</string>
      <key>code</key>
      <string>1-684</string>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AT</string>
      <key>code</key>
      <integer>43</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AU</string>
      <key>code</key>
      <integer>61</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AW</string>
      <key>code</key>
      <integer>297</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AX</string>
      <key>code</key>
      <integer>358</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>AZ</string>
      <key>code</key>
      <integer>994</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BA</string>
      <key>code</key>
      <integer>387</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BB</string>
      <key>code</key>
      <string>1-246</string>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BD</string>
      <key>code</key>
      <integer>880</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BE</string>
      <key>code</key>
      <integer>32</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BF</string>
      <key>code</key>
      <integer>226</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BG</string>
      <key>code</key>
      <integer>359</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BH</string>
      <key>code</key>
      <integer>973</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BI</string>
      <key>code</key>
      <integer>257</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BJ</string>
      <key>code</key>
      <integer>229</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>BL</string>
      <key>code</key>
      <integer>590</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BM</string>
      <key>code</key>
      <string>1-441</string>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BN</string>
      <key>code</key>
      <integer>673</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BO</string>
      <key>code</key>
      <integer>591</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>BQ</string>
      <key>code</key>
      <integer>599</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BR</string>
      <key>code</key>
      <integer>55</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BS</string>
      <key>code</key>
      <string>1-242</string>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BT</string>
      <key>code</key>
      <integer>975</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BV</string>
      <key>code</key>
      <string>BV</string>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BW</string>
      <key>code</key>
      <integer>267</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BY</string>
      <key>code</key>
      <integer>375</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>BZ</string>
      <key>code</key>
      <integer>501</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CA</string>
      <key>code</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CC</string>
      <key>code</key>
      <integer>61</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CD</string>
      <key>code</key>
      <integer>243</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CF</string>
      <key>code</key>
      <integer>236</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CG</string>
      <key>code</key>
      <integer>242</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>CH</string>
      <key>code</key>
      <integer>41</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CI</string>
      <key>code</key>
      <integer>225</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CK</string>
      <key>code</key>
      <integer>682</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CL</string>
      <key>code</key>
      <integer>56</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CM</string>
      <key>code</key>
      <integer>237</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CN</string>
      <key>code</key>
      <integer>86</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CO</string>
      <key>code</key>
      <integer>57</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CR</string>
      <key>code</key>
      <integer>506</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CU</string>
      <key>code</key>
      <integer>53</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CV</string>
      <key>code</key>
      <integer>238</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CW</string>
      <key>code</key>
      <integer>599</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CX</string>
      <key>code</key>
      <integer>61</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CY</string>
      <key>code</key>
      <integer>357</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>CZ</string>
      <key>code</key>
      <integer>420</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>DE</string>
      <key>code</key>
      <integer>49</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>D</string>
      <key>name</key>
      <string>DJ</string>
      <key>code</key>
      <integer>253</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>D</string>
      <key>name</key>
      <string>DK</string>
      <key>code</key>
      <integer>45</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>D</string>
      <key>name</key>
      <string>DM</string>
      <key>code</key>
      <string>1-767</string>
    </dict>
    <dict>
      <key>group</key>
      <string>D</string>
      <key>name</key>
      <string>DO</string>
      <key>code</key>
      <string>1-809</string>
    </dict>
    <dict>
      <key>group</key>
      <string>A</string>
      <key>name</key>
      <string>DZ</string>
      <key>code</key>
      <integer>213</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>EC</string>
      <key>code</key>
      <integer>593</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>EE</string>
      <key>code</key>
      <integer>372</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>EG</string>
      <key>code</key>
      <integer>20</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>W</string>
      <key>name</key>
      <string>EH</string>
      <key>code</key>
      <integer>212</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>ER</string>
      <key>code</key>
      <integer>291</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>ES</string>
      <key>code</key>
      <integer>34</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>ET</string>
      <key>code</key>
      <integer>251</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>FI</string>
      <key>code</key>
      <integer>358</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>FJ</string>
      <key>code</key>
      <integer>679</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>FK</string>
      <key>code</key>
      <integer>500</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>FM</string>
      <key>code</key>
      <integer>691</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>FO</string>
      <key>code</key>
      <integer>298</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>FR</string>
      <key>code</key>
      <integer>33</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GA</string>
      <key>code</key>
      <integer>241</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>GB</string>
      <key>code</key>
      <integer>44</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GD</string>
      <key>code</key>
      <string>1-473</string>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GE</string>
      <key>code</key>
      <integer>995</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>GF</string>
      <key>code</key>
      <integer>594</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GG</string>
      <key>code</key>
      <string>44-1481</string>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GH</string>
      <key>code</key>
      <integer>233</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GI</string>
      <key>code</key>
      <integer>350</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GL</string>
      <key>code</key>
      <integer>299</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GM</string>
      <key>code</key>
      <integer>220</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GN</string>
      <key>code</key>
      <integer>224</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GP</string>
      <key>code</key>
      <integer>590</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>GQ</string>
      <key>code</key>
      <integer>240</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GR</string>
      <key>code</key>
      <integer>30</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>GS</string>
      <key>code</key>
      <integer>500</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GT</string>
      <key>code</key>
      <integer>502</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GU</string>
      <key>code</key>
      <string>1-671</string>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GW</string>
      <key>code</key>
      <integer>245</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>G</string>
      <key>name</key>
      <string>GY</string>
      <key>code</key>
      <integer>592</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>H</string>
      <key>name</key>
      <string>HK</string>
      <key>code</key>
      <integer>852</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>H</string>
      <key>name</key>
      <string>HM</string>
      <key>code</key>
      <string>HM</string>
    </dict>
    <dict>
      <key>group</key>
      <string>H</string>
      <key>name</key>
      <string>HN</string>
      <key>code</key>
      <integer>504</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>HR</string>
      <key>code</key>
      <integer>385</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>H</string>
      <key>name</key>
      <string>HT</string>
      <key>code</key>
      <integer>509</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>H</string>
      <key>name</key>
      <string>HU</string>
      <key>code</key>
      <integer>36</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>ID</string>
      <key>code</key>
      <integer>62</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IE</string>
      <key>code</key>
      <integer>353</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IL</string>
      <key>code</key>
      <integer>972</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IM</string>
      <key>code</key>
      <string>44-1624</string>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IN</string>
      <key>code</key>
      <integer>91</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>IO</string>
      <key>code</key>
      <integer>246</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IQ</string>
      <key>code</key>
      <integer>964</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>ا</string>
      <key>name</key>
      <string>IR</string>
      <key>code</key>
      <integer>98</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IS</string>
      <key>code</key>
      <integer>354</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>I</string>
      <key>name</key>
      <string>IT</string>
      <key>code</key>
      <integer>39</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>J</string>
      <key>name</key>
      <string>JE</string>
      <key>code</key>
      <string>44-1534</string>
    </dict>
    <dict>
      <key>group</key>
      <string>J</string>
      <key>name</key>
      <string>JM</string>
      <key>code</key>
      <string>1-876</string>
    </dict>
    <dict>
      <key>group</key>
      <string>J</string>
      <key>name</key>
      <string>JO</string>
      <key>code</key>
      <integer>962</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>J</string>
      <key>name</key>
      <string>JP</string>
      <key>code</key>
      <integer>81</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>K</string>
      <key>name</key>
      <string>KE</string>
      <key>code</key>
      <integer>254</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>K</string>
      <key>name</key>
      <string>KG</string>
      <key>code</key>
      <integer>996</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>KH</string>
      <key>code</key>
      <integer>855</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>K</string>
      <key>name</key>
      <string>KI</string>
      <key>code</key>
      <integer>686</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>KM</string>
      <key>code</key>
      <integer>269</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>KN</string>
      <key>code</key>
      <string>1-869</string>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>KP</string>
      <key>code</key>
      <integer>850</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>KR</string>
      <key>code</key>
      <integer>82</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>K</string>
      <key>name</key>
      <string>KW</string>
      <key>code</key>
      <integer>965</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>KY</string>
      <key>code</key>
      <string>1-345</string>
    </dict>
    <dict>
      <key>group</key>
      <string>K</string>
      <key>name</key>
      <string>KZ</string>
      <key>code</key>
      <integer>7</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LA</string>
      <key>code</key>
      <integer>856</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LB</string>
      <key>code</key>
      <integer>961</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>LC</string>
      <key>code</key>
      <string>1-758</string>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LI</string>
      <key>code</key>
      <integer>423</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>LK</string>
      <key>code</key>
      <integer>94</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LR</string>
      <key>code</key>
      <integer>231</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LS</string>
      <key>code</key>
      <integer>266</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LT</string>
      <key>code</key>
      <integer>370</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LU</string>
      <key>code</key>
      <integer>352</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LV</string>
      <key>code</key>
      <integer>371</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>L</string>
      <key>name</key>
      <string>LY</string>
      <key>code</key>
      <integer>218</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MA</string>
      <key>code</key>
      <integer>212</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MC</string>
      <key>code</key>
      <integer>377</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MD</string>
      <key>code</key>
      <integer>373</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>ME</string>
      <key>code</key>
      <integer>382</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>MF</string>
      <key>code</key>
      <integer>590</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MG</string>
      <key>code</key>
      <integer>261</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MH</string>
      <key>code</key>
      <integer>692</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MK</string>
      <key>code</key>
      <integer>389</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>ML</string>
      <key>code</key>
      <integer>223</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MM</string>
      <key>code</key>
      <integer>95</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MN</string>
      <key>code</key>
      <integer>976</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MO</string>
      <key>code</key>
      <integer>853</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>MP</string>
      <key>code</key>
      <string>1-670</string>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MQ</string>
      <key>code</key>
      <integer>596</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MR</string>
      <key>code</key>
      <integer>222</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MS</string>
      <key>code</key>
      <string>1-664</string>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MT</string>
      <key>code</key>
      <integer>356</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MU</string>
      <key>code</key>
      <integer>230</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MV</string>
      <key>code</key>
      <integer>960</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MW</string>
      <key>code</key>
      <integer>265</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MX</string>
      <key>code</key>
      <integer>52</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MY</string>
      <key>code</key>
      <integer>60</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>MZ</string>
      <key>code</key>
      <integer>258</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NA</string>
      <key>code</key>
      <integer>264</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NC</string>
      <key>code</key>
      <integer>687</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NE</string>
      <key>code</key>
      <integer>227</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NF</string>
      <key>code</key>
      <integer>672</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NG</string>
      <key>code</key>
      <integer>234</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NI</string>
      <key>code</key>
      <integer>505</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NL</string>
      <key>code</key>
      <integer>31</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NO</string>
      <key>code</key>
      <integer>47</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NP</string>
      <key>code</key>
      <integer>977</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NR</string>
      <key>code</key>
      <integer>674</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NU</string>
      <key>code</key>
      <integer>683</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>N</string>
      <key>name</key>
      <string>NZ</string>
      <key>code</key>
      <integer>64</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>O</string>
      <key>name</key>
      <string>OM</string>
      <key>code</key>
      <integer>968</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PA</string>
      <key>code</key>
      <integer>507</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PE</string>
      <key>code</key>
      <integer>51</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>PF</string>
      <key>code</key>
      <integer>689</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PG</string>
      <key>code</key>
      <integer>675</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PH</string>
      <key>code</key>
      <integer>63</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PK</string>
      <key>code</key>
      <integer>92</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PL</string>
      <key>code</key>
      <integer>48</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>PM</string>
      <key>code</key>
      <integer>508</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PN</string>
      <key>code</key>
      <integer>64</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PR</string>
      <key>code</key>
      <string>1-787</string>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PS</string>
      <key>code</key>
      <integer>970</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PT</string>
      <key>code</key>
      <integer>351</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PW</string>
      <key>code</key>
      <integer>680</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>P</string>
      <key>name</key>
      <string>PY</string>
      <key>code</key>
      <integer>595</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>Q</string>
      <key>name</key>
      <string>QA</string>
      <key>code</key>
      <integer>974</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>R</string>
      <key>name</key>
      <string>RE</string>
      <key>code</key>
      <integer>262</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>R</string>
      <key>name</key>
      <string>RO</string>
      <key>code</key>
      <integer>40</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>RS</string>
      <key>code</key>
      <integer>381</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>R</string>
      <key>name</key>
      <string>RU</string>
      <key>code</key>
      <integer>7</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>R</string>
      <key>name</key>
      <string>RW</string>
      <key>code</key>
      <integer>250</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SA</string>
      <key>code</key>
      <integer>966</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SB</string>
      <key>code</key>
      <integer>677</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SC</string>
      <key>code</key>
      <integer>248</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SD</string>
      <key>code</key>
      <integer>249</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SE</string>
      <key>code</key>
      <integer>46</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SG</string>
      <key>code</key>
      <integer>65</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SH</string>
      <key>code</key>
      <integer>290</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SI</string>
      <key>code</key>
      <integer>386</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SJ</string>
      <key>code</key>
      <integer>47</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SK</string>
      <key>code</key>
      <integer>421</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SL</string>
      <key>code</key>
      <integer>232</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SM</string>
      <key>code</key>
      <integer>378</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SN</string>
      <key>code</key>
      <integer>221</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SO</string>
      <key>code</key>
      <integer>252</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SR</string>
      <key>code</key>
      <integer>597</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SS</string>
      <key>code</key>
      <integer>211</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>ST</string>
      <key>code</key>
      <integer>239</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>E</string>
      <key>name</key>
      <string>SV</string>
      <key>code</key>
      <integer>503</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SX</string>
      <key>code</key>
      <string>1-721</string>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SY</string>
      <key>code</key>
      <integer>963</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>SZ</string>
      <key>code</key>
      <integer>268</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TC</string>
      <key>code</key>
      <string>1-649</string>
    </dict>
    <dict>
      <key>group</key>
      <string>C</string>
      <key>name</key>
      <string>TD</string>
      <key>code</key>
      <integer>235</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>F</string>
      <key>name</key>
      <string>TF</string>
      <key>code</key>
      <string>TF</string>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TG</string>
      <key>code</key>
      <integer>228</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TH</string>
      <key>code</key>
      <integer>66</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TJ</string>
      <key>code</key>
      <integer>992</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TK</string>
      <key>code</key>
      <integer>690</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TL</string>
      <key>code</key>
      <integer>670</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TM</string>
      <key>code</key>
      <integer>993</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TN</string>
      <key>code</key>
      <integer>216</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TO</string>
      <key>code</key>
      <integer>676</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TR</string>
      <key>code</key>
      <integer>90</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TT</string>
      <key>code</key>
      <string>1-868</string>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TV</string>
      <key>code</key>
      <integer>688</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TW</string>
      <key>code</key>
      <integer>886</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>T</string>
      <key>name</key>
      <string>TZ</string>
      <key>code</key>
      <integer>255</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>UA</string>
      <key>code</key>
      <integer>380</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>UG</string>
      <key>code</key>
      <integer>256</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>UM</string>
      <key>code</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>US</string>
      <key>code</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>UY</string>
      <key>code</key>
      <integer>598</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>UZ</string>
      <key>code</key>
      <integer>998</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>V</string>
      <key>name</key>
      <string>VA</string>
      <key>code</key>
      <integer>379</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>VC</string>
      <key>code</key>
      <string>1-784</string>
    </dict>
    <dict>
      <key>group</key>
      <string>V</string>
      <key>name</key>
      <string>VE</string>
      <key>code</key>
      <integer>58</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>B</string>
      <key>name</key>
      <string>VG</string>
      <key>code</key>
      <string>1-284</string>
    </dict>
    <dict>
      <key>group</key>
      <string>U</string>
      <key>name</key>
      <string>VI</string>
      <key>code</key>
      <string>1-340</string>
    </dict>
    <dict>
      <key>group</key>
      <string>V</string>
      <key>name</key>
      <string>VN</string>
      <key>code</key>
      <integer>84</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>V</string>
      <key>name</key>
      <string>VU</string>
      <key>code</key>
      <integer>678</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>W</string>
      <key>name</key>
      <string>WF</string>
      <key>code</key>
      <integer>681</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>WS</string>
      <key>code</key>
      <integer>685</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>Y</string>
      <key>name</key>
      <string>YE</string>
      <key>code</key>
      <integer>967</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>M</string>
      <key>name</key>
      <string>YT</string>
      <key>code</key>
      <integer>262</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>S</string>
      <key>name</key>
      <string>ZA</string>
      <key>code</key>
      <integer>27</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>Z</string>
      <key>name</key>
      <string>ZM</string>
      <key>code</key>
      <integer>260</integer>
    </dict>
    <dict>
      <key>group</key>
      <string>Z</string>
      <key>name</key>
      <string>ZW</string>
      <key>code</key>
      <integer>263</integer>
    </dict>
  </array>
</plist>